.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  /* Image always on left */
  .columns > div > .columns-img-col {
    order: 0;
  }

  /* Text always on right */
  .columns > div > div:not(.columns-img-col) {
    order: 1;
    padding: 0 24px;
  }
}